@import "variables/fonts";
@import "variables/colors";
@import "variables/general";

@import "images/backgrounds";

@import "components/anchor";
@import "components/misc";

@import "layout/footer";


html,body{
    min-width: 100%;
    width: 100%;
    max-width: 100%;

    min-height: 100%;
    height: 100%;
    max-height: 100%;

    margin: 0;

    font-size: 100%;

    overflow: hidden;

    background: $color-background $image-background-noise repeat;

    color: $color-white;
}

.game-wrapper{
}

.game-main-menu{
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    width: 100vw;
}

.game-main-menu-header{
    font-size: 4em;
    text-align: center;
}

.game-main-menu-buttons{
    margin-top: 50px;

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.game-button{
    display: block;

    cursor: pointer;

    min-width: 100px;
    width: 100px;
    max-width: 100px;

    min-height: 50px;
    height: 50px;
    max-height: 50px;

    line-height: 50px;

    border-radius: 10px;

    background: $color-primary;

    box-shadow: 0px 1px 1px 0px rgba(34,138,101,0.75);

    text-align: center;
    margin-left: 25px;
    margin-right: 25px;

    transition: box-shadow 0.5s ease,
                background 0.5s ease;

    &:hover{
        box-shadow: none;
        background: $color-secondary;
    }
}

.game-play-field{
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

    display: none;
    flex-direction: column;
    align-content: center;
    align-items: center;

    width: 350px;
}

.game-question{
    font-size: 10em;
    text-shadow: -1px 1px 5px rgba(0,0,0,0.5);
}

.game-input{
    font-size: 4em;
    position: relative;
    min-width: 100%;
    width: 100%;
    max-width: 100%;

    .carrot{
        position: absolute;
        left: 0;
        top: 0;
    }

    & input{
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        font-size: 3rem;
        text-align: center;
        color: $color-white;
        border: none;
        border-color: transparent;
        background: transparent;
    }
}

.game-input-underline{
    min-height: 5px;
    height: 5px;
    max-height: 5px;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    border-radius: 10px;

    background: $color-white;

    margin-bottom: 50px;
}

.game-score{
    font-size: 4em;
}

*:focus {
    outline: none;
}
