@import "variables/fonts";
@import "variables/colors";
@import "variables/general";

@import "images/backgrounds";

@import "components/anchor";
@import "components/misc";

@import "layout/footer";


html,body{
    min-width: 100%;
    width: 100%;
    max-width: 100%;

    min-height: 100%;
    height: 100%;
    max-height: 100%;

    margin: 0;

    font-size: 100%;

    overflow: hidden;

    background: $color-background $image-background-noise repeat;
    font-family: $fonts-english-primary;

    color: $color-white;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.game-wrapper{
    cursor: default;
}

.game-main-menu{
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    width: 100vw;
}

.game-main-menu-header{
    font-size: 4em;
    text-align: center;
}

.game-main-menu-buttons{
    margin-top: 50px;

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.game-button{
    font-size: 1.25em;
    display: block;

    cursor: pointer;

    min-width: 100px;
    width: 100px;
    max-width: 100px;

    min-height: 50px;
    height: 50px;
    max-height: 50px;

    line-height: 50px;

    border-radius: 10px;

    background: $color-primary;

    box-shadow: 0px 1px 1px 0px rgba(34,138,101,0.75);

    text-align: center;
    margin-left: 25px;
    margin-right: 25px;

    transition: box-shadow 0.5s ease,
                background 0.5s ease;

    &:hover{
        box-shadow: none;
        background: $color-secondary;
    }
}

.game-options-menu{
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

    display: none;
    flex-direction: column;
    align-content: center;
    align-items: center;

    width: 500px;
}

.game-options-menu-column-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 100%;
    text-align: left;
}

.game-options-menu-column{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    margin-right: 50px;

    &:last-of-type{
        margin-right: 0px;
        margin-left: 50px;
    }
}

.game-options-menu-column-item{
    flex: 1 1 0;
    margin-bottom: 25px;
    width: 100%;

    &:last-of-type{
        margin-bottom: 50px;
    }
}

.game-options-menu-column-item-header{
    font-size: 2em;
    text-align: center;
}

.game-options-menu-column-item-choice{
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

.game-options-menu-column-item-button-choice{
    @extend .game-options-menu-column-item-choice;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.game-options-medium-button{
    flex: 1 1 0;
    text-align: center;
    border-radius: 10px;

    margin-left: 2.5px;
    margin-right: 2.5px;
    
    display: block;
    min-height: 25px;
    height: 25px;
    line-height: 25px;

    &:first-of-type{
        margin-left: 0px;
    }

    &:last-of-type{
        margin-right: 0px;
    }

    background: $color-primary;
    box-shadow: 0px 1px 1px 0px rgba(34,138,101,0.75);

    transition: box-shadow 0.5s ease,
                background 0.5s ease;

    &:hover{
        box-shadow: none;
        background: $color-secondary;
    }

    &.disabled{
        box-shadow: none;
        background: $color-disabled-secondary;

        &:hover{
            background: $color-secondary;
            box-shadow: 0px 1px 1px 0px rgba(34,138,101,0.25);
        }
    }
}

.game-options-tiny-button{
    font-size: 1.25em;
    display: block;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    cursor: pointer;

    min-width: 15px;
    width: 15px;
    max-width: 15px;

    min-height: 15px;
    height: 15px;
    max-height: 15px;

    border-radius: 10px;

    background: $color-primary;

    box-shadow: 0px 1px 1px 0px rgba(34,138,101,0.75);

    transition: box-shadow 0.5s ease,
                background 0.5s ease;

    &:hover{
        box-shadow: none;
        background: $color-secondary;
    }

    &.disabled{
        box-shadow: none;
        background: $color-disabled-secondary;

        &:hover{
            background: $color-secondary;
            box-shadow: 0px 1px 1px 0px rgba(34,138,101,0.25);
        }
    }
}

.game-play-field-wrapper{
    display: none;
}

.game-play-field{
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    width: 350px;
}

.game-countdown-timer{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 0vw;
    width: 100vw;
    max-width: 100vw;
    min-height: 10px;
    height: 10px;
    max-height: 10px;
    background: $color-primary;
    z-index: 10;

    transition: background 0s ease;

    &.down{
        transition: background 5s ease;
        background: $color-complimentary-primary;
    }
}

.game-question{
    font-size: 10em;
    text-shadow: -1px 1px 5px rgba(0,0,0,0.5);
}

.game-input{
    font-size: 4em;
    position: relative;
    min-width: 100%;
    width: 100%;
    max-width: 100%;

    .carrot{
        position: absolute;
        left: 0;
        top: 0;
    }

    & input{
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        font-size: 3rem;
        text-align: center;
        color: $color-white;
        border: none;
        border-color: transparent;
        background: transparent;
    }
}

.game-input-underline{
    min-height: 5px;
    height: 5px;
    max-height: 5px;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    border-radius: 10px;

    background: $color-white;

    margin-bottom: 50px;
}

.game-score{
    font-size: 4em;
    color: $color-white;
    transition: color 0.5s linear;

    &.up{
        color: $color-primary;
    }

    &.down{
        color: $color-complimentary-primary;
    }
}

.game-heart-container{
    display: flex;

    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 2px, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, -2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, -2px, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 2px, 0);
  }
}

.game-heart{
    flex: 1 1 0;
    font-size: 3em;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;

    color: $color-primary;

    &:first-of-type{
        margin-left: 0px;
    }

    &:last-of-type{
        margin-right: 0px;
    }

    transition: color 1s ease;

    &.down{
        color: $color-complimentary-primary;
        animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }
}

.game-over{
    @extend .game-main-menu;
    display: none;
    max-width: 100vw;
}

.game-over-header{
    @extend .game-main-menu-header;
}

.game-over-buttons{
    @extend .game-main-menu-buttons;
}

*:focus {
    outline: none;
}
