a{
	&, &:visited, &:active, &:link{
		text-decoration: none;
		color: $color-primary;
		transition: color 1s ease;
        font-size: 1.25em;
	}

	&:hover{
		text-decoration: none;
		color: $color-secondary;
	}
}
