.game-button{
    font-size: 1.25em;
    display: block;

    cursor: pointer;

    min-width: 100px;
    width: 100px;
    max-width: 100px;

    min-height: 50px;
    height: 50px;
    max-height: 50px;

    line-height: 50px;

    border-radius: 10px;

    background: $color-primary;

    box-shadow: 0px 1px 1px 0px rgba(34,138,101,0.75);

    text-align: center;
    margin-left: 25px;
    margin-right: 25px;

    transition: box-shadow 0.5s ease,
                background 0.5s ease;

    &:hover{
        box-shadow: none;
        background: $color-secondary;
    }
}

.game-options-medium-button{
    flex: 1 1 0;
    text-align: center;
    border-radius: 10px;

    margin-left: 2.5px;
    margin-right: 2.5px;
    
    display: block;
    min-height: 25px;
    height: 25px;
    line-height: 25px;

    &:first-of-type{
        margin-left: 0px;
    }

    &:last-of-type{
        margin-right: 0px;
    }

    background: $color-primary;
    box-shadow: 0px 1px 1px 0px rgba(34,138,101,0.75);

    transition: box-shadow 0.5s ease,
                background 0.5s ease;

    &:hover{
        box-shadow: none;
        background: $color-secondary;
    }

    &.disabled{
        box-shadow: none;
        background: $color-disabled-secondary;

        &:hover{
            background: $color-secondary;
            box-shadow: 0px 1px 1px 0px rgba(34,138,101,0.25);
        }
    }
}

.game-options-tiny-button{
    font-size: 1.25em;
    display: block;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    cursor: pointer;

    min-width: 15px;
    width: 15px;
    max-width: 15px;

    min-height: 15px;
    height: 15px;
    max-height: 15px;

    border-radius: 10px;

    background: $color-primary;

    box-shadow: 0px 1px 1px 0px rgba(34,138,101,0.75);

    transition: box-shadow 0.5s ease,
                background 0.5s ease;

    &:hover{
        box-shadow: none;
        background: $color-secondary;
    }

    &.disabled{
        box-shadow: none;
        background: $color-disabled-secondary;

        &:hover{
            background: $color-secondary;
            box-shadow: 0px 1px 1px 0px rgba(34,138,101,0.25);
        }
    }
}
