.game-footer {
  position: absolute;
  bottom: 0;
  left: 0;

  min-width: 100vw;
  width: 100vw;
  max-width: 100vw;

  display: flex;

  align-items: flex-end;
}

.game-footer-item {
  flex: 1 1 0;
  padding-left: 10px;
  padding-bottom: 5px;
  text-align: left;

  &:last-of-type {
    padding-left: 0px;
    padding-right: 10px;
    text-align: right;
    & a {
      cursor: pointer;
    }
  }
}
