.game-play-field-wrapper{
    display: none;
}

.game-play-field{
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    width: 100vw;
}

.game-question{
    font-size: 10em;
    text-shadow: -1px 1px 5px rgba(0,0,0,0.5);
    transition: color 0s linear;
    color: $color-white;

    &.incorrect{
        transition: color 0.75s ease;
        color: $color-complimentary-primary;
    }
}

.game-input{
    font-size: 4em;
    position: relative;
    min-width: 350px;
    width: 350px;
    max-width: 350px;

    .carrot{
        position: absolute;
        left: 0;
        top: 0;
    }

    & input{
        min-width: 350px;
        width: 350px;
        max-width: 350px;
        font-size: 3rem;
        text-align: center;
        color: $color-white;
        border: none;
        border-color: transparent;
        background: transparent;
    }
}

.game-input-underline{
    min-height: 5px;
    height: 5px;
    max-height: 5px;

    min-width: 350px;
    width: 350px;
    max-width: 350px;

    border-radius: 10px;

    background: $color-white;

    margin-bottom: 50px;
}

.game-score{
    font-size: 4em;
    color: $color-white;
    transition: color 0.5s linear;

    &.up{
        color: $color-primary;
    }

    &.down{
        color: $color-complimentary-primary;
    }
}

.game-heart-container{
    display: flex;

    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
}

.game-heart{
    flex: 1 1 0;
    font-size: 3em;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;

    color: $color-primary;

    &:first-of-type{
        margin-left: 0px;
    }

    &:last-of-type{
        margin-right: 0px;
    }

    transition: color 1s ease;

    &.down{
        color: $color-complimentary-primary;
        animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }
}

.game-countdown-timer{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 0vw;
    width: 100vw;
    max-width: 100vw;
    min-height: 10px;
    height: 10px;
    max-height: 10px;
    background: $color-primary;
    z-index: 10;

    transition: background 0s ease;

    &.down{
        transition: background 5s ease;
        background: $color-complimentary-primary;
    }
}
