.game-options-menu{
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

    display: none;
    flex-direction: column;
    align-content: center;
    align-items: center;

    width: 500px;
}

.game-options-menu-column-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 100%;
    text-align: left;
}

.game-options-menu-column{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    margin-right: 50px;

    &:last-of-type{
        margin-right: 0px;
        margin-left: 50px;
    }
}

.game-options-menu-column-item{
    flex: 1 1 0;
    margin-bottom: 25px;
    width: 100%;

    &:last-of-type{
        margin-bottom: 50px;
    }
}

.game-options-menu-column-item-header{
    font-size: 2em;
    text-align: center;
}

.game-options-menu-column-item-choice{
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

.game-options-menu-column-item-button-choice{
    @extend .game-options-menu-column-item-choice;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
