$color-white: #fafafa;

$color-background: #252f38;

$color-primary: #13a572;
$color-secondary: #228a65;

$color-disabled-primary: #253a32;
$color-disabled-secondary: #2c5647;

$color-complimentary-primary: #f69e1d;
